body{
    background-color: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
}

.btn-row {
    position: relative;
    background-color: #33363d;
    padding: 7px;
    border-radius: 100px;
    margin-top: 50px;
}

button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
    transform: translateY(-1px);
    z-index: 1;
}

#BTN {
    position: absolute;
    background-color: rgba(0, 128, 0, 0.6);
    width: 93px;
    height: 30px;
    top: 4px;
    z-index: 2;
    border-radius: 100px;
    transform: translateX(-4px);
    transition: all 0.2s;
}
